@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
/* global style */
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;

  font-size: 0.875rem;
  line-height: 0.875rem;
}
footer {
  display: flex;
  background: #111;
}

a,
ul {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: rgb(218, 226, 236);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;

  /* store color */
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/* global class */
.btn {
  display: inline-block;
  letter-spacing: 2px;
  margin-right: -2px;
}

.btn:hover {
  color: #fff;
  background: #222;
}
.cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #222;
  padding: 0.9rem 1.8rem;
  margin: 1rem 0;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}
.cta-btn:hover,
.cta-btn:focus {
  color: #fff;
  background-color: var(--secondary-font-color);
}
/* footer */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .container-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container-nav .sec {
  margin-right: 30px;
}
.footer .container-nav .sec.aboutus {
  width: 30%;
}

h2 {
  display: flex;
  font-size: 1.5em;
  margin-block-start: 10px;
  margin-block-end: 15px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer .container-nav h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
}
.footer .container-nav h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
p {
  display: block;
  margin-block-start: 30px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer p {
  color: #999;
  text-align: left;
}
footer span {
  color: #999;
  margin: 10px 0;
}
/* social icons */
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
}
.sci li a:hover {
  background: #f00;
}
.sci li a .fa {
  color: #fff;
  font-size: 20px;
}
/* quick links */
.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks h2 {
  justify-content: center;
}
.footer .container-nav .quickLinks h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 100px;
  width: 50px;
  height: 2px;
  background: #f00;
}
.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}
.quickLinks ul li a:hover {
  color: #fff;
}
/* contact */
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.contact .info li a:hover {
  color: #fff;
}
.copyright {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

/* mobile screen */
@media (max-width: 991px) {
  .footer .container-nav .quickLinks h2:before {
    left: 0;
  }

  footer {
    padding: 40px;
  }
  footer .container-nav {
    flex-direction: column;
  }
  footer .container-nav .sec {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: left;
  }
  footer .container-nav .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }
  .copyright {
    padding: 8px 40px;
  }
  footer span {
    color: #999;
  }
  .footer .container-nav .sec.aboutus {
    width: 100%;
  }
}

/* section */
.section {
  position: relative;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 100%;
}

/* mobile screen */

@media screen and (max-width: 768px) {
  .body {
    width: 95vw;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  body {
    min-width: 50.5vh;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  body {
    min-width: 61vh;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  body {
    min-width: 64vh;
  }
}

@media screen and (max-width: 320px) {
  body {
    min-width: 72vh;
  }
  .cart-row {
    width: 50%;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* side bar for desktop */

header {
  position: fixed;
  padding: 1rem 1.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.6s;
}

/* cart icon */
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  top: 15px;
  position: relative;
  cursor: pointer;
}
/* count items */
.cart-items {
  position: absolute;
  top: -5px;
  left: 20px;
  background: red;
  padding: 2px 5px;
  border-radius: 50%;
  color: var(--mainWhite);
  animation: bounce 2s ease-in-out infinite;
}
.fa-cart-plus {
  color: rgb(219, 206, 27);
  font-size: 2.5rem;
}

/*sidebar*/
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}

.close-btn:hover {
  color: var(--clr-red-light);
  transform: rotate(360deg);
}
.logo {
  position: relative;
  justify-content: center;
  color: rgb(206, 209, 24);
  height: 50px;
  font-weight: 800;
  font-size: 30px;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  cursor: pointer;
  transition: 0.6s;
  padding-top: 20px;
}

.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

/* social icons */
.sci-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.sci-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.sci-icons a:hover {
  color: var(--clr-primary-1);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

/* banner section */

.banner {
  position: relative;
  display: grid;
  place-items: center;
  background: url("./Images/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 45vh;
}
.banner:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, #111, transparent);
}
.banner .container {
  position: relative;
  max-width: 900px;
  text-align: center;
}
.welcome-text h1 {
  color: #fff;
  font-size: 3rem;
  font-family: var(--body-font);
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.banner .welcome-text {
  position: relative;
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 2rem 2.4rem;
}
.welcome-text .sub-headline {
  font-size: 8rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  margin-bottom: -0.5rem;
  padding: 3rem 3rem;
}

.welcome-text .sub-headline .first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
}

.line-right::before {
  border-right-color: #fff;
  right: 0;
}

.line-left::before {
  border-left-color: #fff;
  left: 0;
}

.fa-asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
}

.headline-description h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}
.btn {
  display: inline-block;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #222;
  padding: 0.9rem 1.8rem;
  margin: 1rem 0;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: #fff;
  background-color: var(--secondary-font-color);
}

/* desktop screen */

@media screen and (min-width: 768px) {
  .welcome-text {
    max-width: 40rem;
  }
}

/* about */

/* align banner with nav bar */
.fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.about {
  position: relative;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .contentBx {
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding: 10px 60px;
}
.titleText {
  font-weight: 600;
  color: #222;
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 2rem;
  text-align: center;
  justify-content: center;
}
.text {
  color: #222;
  font-size: 16px;
  line-height: 1.25rem;
  margin-bottom: 10px;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  padding: 0 150px;
}

.about .imgBx {
  position: relative;
  min-width: 100%;
  max-width: 100%;

  max-width: var(--fixed-width);
  justify-content: center;
}
.about .imgBx .review {
  background: var(--clr-white);
  padding: 1.5rem 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.about .imgBx .review:hover {
  box-shadow: var(--dark-shadow);
}
.about .imgBx .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.imgBx .img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.imgBx .img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
#info {
  margin-bottom: 0.75rem;
  flex-wrap: wrap;
  padding: 0 100px;
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 4rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
.random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: var(--clr-primary-5);
  cursor: pointer;
}
.random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}

/* Best Seller section */
.destination {
  text-align: center;
  color: #222;
  padding-bottom: 50px;
}
.destination .content {
  text-align: center;
  padding: 2rem;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}

.destination .destinationList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.destination .destinationList .box {
  position: relative;
  min-width: 350px;
  height: 480px;
  background: #191919 !important;
  transition: 0.5s;
  margin: 10px;
}
/* hover effect */
.destination .destinationList:hover .box {
  opacity: 0.2;
}
.destination .destinationList:hover .box:hover {
  opacity: 1;
}
.destination .destinationList .box .imgBx {
  position: relative;
  width: 100%;
  height: 400px;
}
.destination .destinationList .box .content {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination .destinationList .box .content h2 {
  color: #fff;
  font-weight: 500;
  line-height: 1.2em;
}
.destination .destinationList .box .content h2 span {
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.5;
}

/* banner 3 */
/*------------Store page--------------*/

.store {
  padding: 4rem 0;
}

.section-header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-size: 32px;
  padding: 4rem;
  justify-content: center;
  margin-top: 200px;
  letter-spacing: 0.5rem;
}


.shop-items {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

/* cart section */

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.shop-item-image {
  position: relative;
  display: block;
  width: 100%;

  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container img {
  height: 300px;
  width: 300px;
}
.img-container:hover .shop-item-image {
  opacity: 0.5;
}

.shop-item h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  color: var(--primaryColor);
}
.shop-item h4 {
  margin: 0.7rem;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

/* cart sidebar*/

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(221, 246, 250, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

/* show cart when add item */
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  color: var(--clr-red-dark);
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  justify-content: center;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--clr-primary-5);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--clr-primary-5);
  color: var(--mainBlack);
  border: 1px solid var(--clr-primary-6);
  transition: var(--mainTransition);
  cursor: pointer;
}

/* banner 2*/
/* align banner with nav bar */

.banner2 {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #111, transparent);
}

/* ads */
.ads {
  position: relative;
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 100px;
}
.contentad {
  text-align: center;
  flex: 25%;
  max-width: 100%;
  padding: 0 0.5rem;
}
.contentad img {
  height: 400px;
  width: 300px;
  margin-top: 8px;
  vertical-align: middle;
}

/* desktop screen */

@media (min-width: 1025px) {
  .banner {
    height: 100vh;
  }
  .ads {
    max-width: 100%;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 150px 200px;
  }
  .contentad {
    text-align: center;
    flex: 25%;
    justify-content: center;
    align-items: center;
    padding: 0 1px;
  }
  .contentad img {
    vertical-align: middle;
    height: 300px;
    width: 300px;
  }

  .about {
    max-width: 100%;
    display: block;
  }
  .about .contentBx {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  .about .imgBx {
    position: relative;
    width: 50%;
  }
  .about .text {
    padding: 5px 200px;
  }

  #info {
    padding: 10px 300px;
  }

  .container .shop-items {
    width: 100%;
  }
  .container {
    max-width: 100%;
    margin: 10rem auto;
  }
  .banner2:before {
    bottom: 100px;
  }
}

/* mobile screen */

@media only screen and (max-width: 768px) {
  .banner {
    height: 70vh;
  }

  .banner .container h2 {
    padding: 2rem;
    font-weight: 500;
  }
  .banner2:before {
    background: transparent;
  }

  /* about section */
  .about {
    flex-direction: column;
    max-width: 100%;
    padding: 2rem 2rem;
  }
  .about .contentBx,
  .about .imgBx {
    min-width: 100%;
    max-width: 400px;
    width: 300px;
    text-align: center;
  }
  .about .imgBx {
    min-height: 300px;
    align-items: center;
  }
  .btn {
    margin-bottom: 30px;
  }
  /* destination */
  .destination .destinationList .box {
    position: relative;
    max-width: 350px;
    min-width: initial;
    width: 350px;
    height: 400px;
  }
  .destination .destinationList .box .imgBx {
    height: 320px;
  }
}




